*.nsys-rep
*.sqlite

/build
/.vscode
__pycache__

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.egg-info
/neuroframe.cpython-311-x86_64-linux-gnu.so
/out
/dist
